nav {
    font-family: 'Amatic SC', cursive;
    font-size: larger;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    max-height: 75px;
    overflow: hidden;
}

@media only screen and (min-width: 768px) {
    nav {flex-direction: row;}
}

nav a {
    color: seashell;
}

.mainnav a:hover {
    background-color: darkslategrey;
    color: black;
  }

.mainnav {
    background-color: black;
}

.container {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    padding-left: 5%;
}

#logo {
    max-height: 75px;
    max-width: 75px;
    background-color: red;
}

#logoimg {
    max-height: 75px;
    max-width: 75px;
}
  
.item {
    text-align: left;
    margin: 0.25em;
    padding: 0.25em;
    text-decoration: none;
    flex-grow: 1;
}

.search {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.search button {
    background: red;
}
  
.search button:hover {
    background: orangered;
}

.placeholder {
    flex-grow: 2;
}

.rightmenu {
    flex-grow: 1;
    flex-direction: column;
}

#cart {
    max-width: 10px;
    max-height: 10px;
}
  

/*--- non header elements ---*/


.core {
    font-family: 'Architects Daughter', cursive;
    display: flex;
    height: 80vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #222;
}
   
ul {
    display: flex;
    flex-direction: column;
    align-items: start;
    list-style-type: none;
}

ul li.page {
    padding: 6px 0;
}

ul li.page a {
    position: relative;
    display: block;
    text-decoration: none;
    font-size: 2rem;;
    color: #ecf0f1;
    text-transform: uppercase;
    padding: 4px 0;
    transition: 0.5s;
}

ul li.page a::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 3px;
    top: 100%;
    left: 0;
    background: #ff7000;
    transition: transform 0.5s;
    transform: scaleX(0);
    transform-origin: right;
}

ul li.page a:hover {
    color: #95a5a6;
}

ul li.page a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

p.core {
    color: peachpuff;
}
